body{
    background-color: rgb(193, 255, 204);
}

.Home{
    display: flex;
    background-color: rgb(9, 205, 58);
    justify-content: center;
    padding: 10px;
}

.qwe{
    padding: 10px;
    margin: 0px 20px;
    border: 1px solid white;
}

a{
    color: white;
}

button {
    background-color: rgb(9, 205, 58); 
    color: white; 
    border: none; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer;
}

button:hover {
    background-color: rgb(10, 140, 42); 
}

.queue .queue-box{
    width: 100px;
    height: 100px;
    background-color: rgb(9, 205, 58);
    margin: 3px;
    display: inline-block;
}